.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: auto;
}

.logo {
  color: #fff;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
}

.navLink {
  padding-left: 4px;
  padding-right: 4px;
  @media (min-width: 576px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.fullWidth {
  width: 100%;
  text-align: center;
  justify-content: center;
  @media (min-width: 576px) {
    width: auto;
  }
}
